
.l-container {
	max-width 		     :        $max-width;
	padding-left         : 	      1rem;
	padding-right        : 	      1rem;
	display              : 		  flex;
	margin-left          : 	      auto;
	margin-right         : 	      auto;
    flex-wrap            :        wrap; 
}

.l-section {
	--fscontent			 :		  1rem;

	@include from(m)
{
	--fscontent 		 :		  1.5rem;
}

	font-size            :        var(--fscontent);
	color                :        $colorFirst;
	margin-top			 :		  -3rem; 
	padding-bottom		 : 		  2rem;

	@include from(m) {	 
	padding-top          :        1rem;
	margin-top			 :		  0; 
	}
}  

.brincodevideo
{
	margin-top: -1rem;

	@include from(m)
	{
		margin-top: 0;
	}
}

.center-block {
	margin-left         :          auto;
	margin-right        :          auto;
  }
 
  
.center-content {
	text-align          :          center;
}

// Anchos personalizados
@for $i from 1 through 20 {
	.s-#{$i*5} {
	  width              :         #{$i * 5%};
	}
  }
  
  @include from(l) {
	@for $i from 1 through 20 {
	  .l-#{$i*5} {
		width            :         #{$i * 5%};
	  }
	}
  }