//Colores
    $colorFirst            :          #000000;
    $colorSecond           :          #ffffff;
    $colorThird            :          #e80c0c;
    $colorQuarter          :          #24a107;
    $colorOver             :          #f9f7f7;


//Eje z - Apilamiento del contenido
:root {
    --z-back                :           -10;
    --z-normal              :             1;
    --z-tooltip             :            10;
    --z-fixed               :           100;
    --z-modal               :          1000;
    --z-supermodal          :          1100;
}
        
//Tamaños
    $header-height          :          4rem;
    $logoheight             :          2rem;
    $max-width              :          1200px;
    $tamMensa               :          16rem;
    $tamMensaCel            :          10rem;

//Font-Size
    $fslinkmenu             :          1rem;
    $fsh1sections           :          2em;
    $fs-fsec                :          1rem;
    
//Breakpoints
$dimensions : (
                           s:           0px,            //celulares      
                           m:           640px,          //tablets   
                          lg:           1024px,         //laptops
                          xl:           1440px          //higherlaptops
) !default;